@model QLTV.AppMVC.Models.Entities.DauSach

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DauSach</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDauSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDauSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDauSach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDauSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SL) (<a asp-action="Index" asp-controller="Sach" asp-route-DauSachId="@Model.Id">Danh sách sách</a>)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiSach_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiSach.TenLoaiSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuDe_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuDe.TenChuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TacGia_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TacGia.TenTG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NXB_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NXB.TenNXB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamXB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamXB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Khoa_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Khoa.TenKhoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocPhan_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocPhan.TenHocPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeSach_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeSach.TenKeSach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTrang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTrang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhoCo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhoCo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinhHoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinhHoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiaBia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiaBia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nguon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nguon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TungThu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TungThu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DinhKem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DinhKem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgonNgu_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgonNgu.TenNN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
