@model QLTV.AppMVC.Models.Entities.DauSach

@inject AppDbContext _context;

@{
    ViewData["Title"] = "Thông tin chi tiết đầu sách";

    var dsSach = _context.Sach.Where(s => s.DauSach_Id == Model.Id).ToList();

    var slConLai = dsSach.Count(s => !s.DangMuon);
}

<h2>@Model.TenDauSach</h2>

<div class="row">
    <div class="col-lg-4">
        <div class="w-100">
            <img src="@Model.ImagePath" class="img-thumbnail" />
        </div>
        <table class="table small">
            <thead>
                <tr>
                    <th>Mã sách</th>
                    <th>Trạng thái</th>
                    <th>Sinh viên</th>
                    <th>Hạn trả</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in dsSach)
                {
                <tr>
                    <td>
                        @s.MaSach
                    </td>
                    @{
                        if (s.DangMuon)
                        {
                            var ctm = _context.ChiTietMuon.FirstOrDefault(ctm => ctm.MaSach == s.MaSach);

                            var sv = _context.PhieuMuon.FirstOrDefault(pm => pm.Id == ctm.PM_Id).MaSV;

                            <td>Đang mượn</td>
                            <td>@sv</td>
                            <td>@ctm.HanTra.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-8">
        <div class="row mb-2">
            <div class="col-md-4">
                <a asp-action="Index">Về danh sách đầu sách</a>
            </div>
            <div class="col-md-8 text-right">
                <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-route-Id="@Model.Id">Cập nhật thông tin</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-Id="@Model.Id">Xóa</a>

            </div>
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <td>@Html.DisplayNameFor(m => m.MaDauSach)</td>
                <td>@Model.MaDauSach</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.TenDauSach)</td>
                <td>@Model.TenDauSach</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(m => m.SL)</td>
                <td>@Model.SL (Còn lại: @slConLai quyển)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.LoaiSach_Id)</td>
                <td>@Html.DisplayFor(m => m.LoaiSach.TenLoaiSach)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.ChuDe_Id)</td>
                <td>@Html.DisplayFor(m => m.ChuDe.MaChuDe)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.TacGia_Id)</td>
                <td>@Html.DisplayFor(m => m.TacGia.TenTG)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.NXB_Id)</td>
                <td>@Html.DisplayFor(m => m.NXB.TenNXB)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.NamXB)</td>
                <td>@Model.NamXB</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Khoa_Id)</td>
                <td>@Html.DisplayFor(m => m.Khoa.TenKhoa)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.HocPhan_Id)</td>
                <td>@Html.DisplayFor(m => m.HocPhan.TenHocPhan)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.KeSach_Id)</td>
                <td>@Html.DisplayFor(m => m.KeSach.TenKeSach)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.NgonNgu_Id)</td>
                <td>@Html.DisplayFor(m => m.NgonNgu.TenNN)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.SoTrang)</td>
                <td>@Model.SoTrang</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.SoTap)</td>
                <td>@Model.SoTap</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.TenTap)</td>
                <td>@Model.TenTap</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.TenKhac)</td>
                <td>@Model.TenKhac</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.KhoCo)</td>
                <td>@Model.KhoCo</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.MinhHoa)</td>
                <td>@Model.MinhHoa</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.GiaBia)</td>
                <td>@Model.GiaBia</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.Nguon)</td>
                <td>@Model.Nguon</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.TungThu)</td>
                <td>@Model.TungThu</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.DinhKem)</td>
                <td>@Model.DinhKem</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(m => m.ISBN)</td>
                <td>@Model.ISBN</td>
            </tr>
        </table>
    </div>
</div>

