@model QLTV.AppMVC.Models.Entities.DauSach

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DauSach</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDauSach" class="control-label"></label>
                <label class="form-control">@Model.MaDauSach</label>
                <input type="hidden" name="MaDauSach" value="@Model.MaDauSach" />
            </div>
            <div class="form-group">
                <label asp-for="TenDauSach" class="control-label"></label>
                <input asp-for="TenDauSach" class="form-control" />
                <span asp-validation-for="TenDauSach"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hình ảnh</label>
                <input asp-for="ImagePath" type="hidden" />
                <input asp-for="ImageFile" /> @{ 
                    if(!string.IsNullOrEmpty(Model.ImagePath))
                    {
                        <p class="alert alert-warning">Đã có ảnh</p>
                        <img src="@Model.ImagePath" class="img-thumbnail h-25 w-25" />
                    }
                }
            </div>
            <div class="form-group">
                <label asp-for="SL" class="control-label"></label>
                <label class="form-control">@Model.SL</label>
                <input type="hidden" name="SL" value="@Model.SL" />
                <a asp-action="NhapSach" asp-route-Id="@Model.Id">Nhập thêm sách</a>
            </div>
            <div class="form-group">
                <label asp-for="LoaiSach_Id" class="control-label"></label>
                <select asp-for="LoaiSach_Id" class="form-control" asp-items="ViewBag.LoaiSach_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChuDe_Id" class="control-label"></label>
                <select asp-for="ChuDe_Id" class="form-control" asp-items="ViewBag.ChuDe_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="TacGia_Id" class="control-label"></label>
                <select asp-for="TacGia_Id" class="form-control" asp-items="ViewBag.TacGia_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="NXB_Id" class="control-label"></label>
                <select asp-for="NXB_Id" class="form-control" asp-items="ViewBag.NXB_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="NamXB" class="control-label"></label>
                <input asp-for="NamXB" class="form-control" />
                <span asp-validation-for="NamXB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Khoa_Id" class="control-label"></label>
                <select asp-for="Khoa_Id" class="form-control" asp-items="ViewBag.Khoa_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="HocPhan_Id" class="control-label"></label>
                <select asp-for="HocPhan_Id" class="form-control" asp-items="ViewBag.HocPhan_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="KeSach_Id" class="control-label"></label>
                <select asp-for="KeSach_Id" class="form-control" asp-items="ViewBag.KeSach_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="SoTrang" class="control-label"></label>
                <input asp-for="SoTrang" class="form-control" />
                <span asp-validation-for="SoTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KhoCo" class="control-label"></label>
                <input asp-for="KhoCo" class="form-control" />
                <span asp-validation-for="KhoCo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinhHoa" class="control-label"></label>
                <input asp-for="MinhHoa" class="form-control" />
                <span asp-validation-for="MinhHoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBia" class="control-label"></label>
                <input asp-for="GiaBia" class="form-control" />
                <span asp-validation-for="GiaBia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nguon" class="control-label"></label>
                <input asp-for="Nguon" class="form-control" />
                <span asp-validation-for="Nguon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKhac" class="control-label"></label>
                <input asp-for="TenKhac" class="form-control" />
                <span asp-validation-for="TenKhac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TungThu" class="control-label"></label>
                <input asp-for="TungThu" class="form-control" />
                <span asp-validation-for="TungThu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTap" class="control-label"></label>
                <input asp-for="SoTap" class="form-control" />
                <span asp-validation-for="SoTap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenTap" class="control-label"></label>
                <input asp-for="TenTap" class="form-control" />
                <span asp-validation-for="TenTap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DinhKem" class="control-label"></label>
                <input asp-for="DinhKem" class="form-control" />
                <span asp-validation-for="DinhKem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgonNgu_Id" class="control-label"></label>
                <select asp-for="NgonNgu_Id" class="form-control" asp-items="ViewBag.NgonNgu_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về danh sách sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
