@model IEnumerable<QLTV.AppMVC.Models.Entities.DauSach>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Tim" method="Get" class="form-group">
    <label for="tenSach">Tìm sách</label>
    <input class="form-control" type="text" name="tenSach" id="tenSach" value="" placeholder="Nhập tên sách"/>
    <input type="submit" value="Tìm" class="btn btn-info mt-2 px-4" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDauSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDauSach)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.TacGia_Id)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.KeSach_Id)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDauSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDauSach)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TacGia.TenTG)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.KeSach.TenKeSach)
            </td>
     
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
