@model IEnumerable<QLTV.AppMVC.Models.Entities.DauSach>

@using Microsoft.AspNetCore.Mvc

@inject QLTV.AppMVC.Models.AppDbContext _context

@{
    ViewData["Title"] = "Danh sách các đầu sách";

    var KhoaId = Context.Request.Query["KhoaId"].ToString();
    var tacGiaId = Context.Request.Query["tacGiaId"].ToString();
    var chuDeId = Context.Request.Query["chuDeId"].ToString();

}

<h1>Đầu sách</h1>

<form asp-action="Tim" method="Get" class="form-group">
    <label for="tenSach">Tìm sách</label>
    <input class="form-control" type="text" name="tenSach" id="input" value="" placeholder="Nhập tên sách" />
    @{
        if (!string.IsNullOrEmpty(KhoaId))
        {
            <input type="hidden" name="KhoaId" value="@KhoaId" />
        }
        if (!string.IsNullOrEmpty(tacGiaId))
        {
            <input type="hidden" name="tacGiaId" value="@tacGiaId" />
        }
        if (!string.IsNullOrEmpty(chuDeId))
        {
            <input type="hidden" name="chuDeId" value="@chuDeId" />
        }
    }
    <input type="submit" value="Tìm" class="btn btn-primary mt-2 btn-block" />
</form>


<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table table-sm table-hover" id="lstDS">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDauSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDauSach)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TacGia_Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.KeSach_Id)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDauSach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDauSach)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TacGia.TenTG)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.KeSach.TenKeSach)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Chi tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("_Paging", ViewData["paging"])



@*<script>
        let select = document.getElementById("select");

        let input = document.getElementById("input")

        let selectTG = document.getElementById("selectTG");

        const Switch = (e) => {
            input.name = select.value;

            switch (input.name) {
                case 'tacGia':
                    selectKhoa.hidden = false
                    selectChuDe.hidden = false
                    selectTG.hidden = true
                    selectKhoa.disabled = false
                    selectChuDe.disabled = false
                    selectTG.disabled = true
                    break;
                case 'Khoa':
                    selectTG.hidden = false
                    selectTG.disabled = false
                    selectChuDe.hidden = false
                    selectChuDe.disabled = false
                    selectKhoa.hidden = false
                    selectKhoa.disabled = false
                    break;
                case 'chuDe':
                    selectKhoa.hidden = false
                    selectKhoa.disabled = false
                    selectTG.hidden = false
                    selectTG.disabled = false
                    selectChuDe.hidden = true
                    selectChuDe.disabled = true
                    break;
                default:
                    selectKhoa.hidden = false
                    selectTG.hidden = false
                    selectChuDe.hidden = false
                    selectKhoa.disabled = false
                    selectTG.disabled = false
                    selectChuDe.disabled = false
                    break;
            }

        }

    </script>*@