@model IEnumerable<QLTV.AppMVC.Models.Entities.DauSach>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDauSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDauSach)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TacGia_Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.KeSach_Id)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDauSach)
                </td>
                <td>
                    <a asp-action="Index" asp-controller="Sach" asp-route-DauSachId="@item.Id">@Html.DisplayFor(modelItem => item.TenDauSach)</a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TacGia.TenTG)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.KeSach.TenKeSach)
                </td>
            </tr>
        }
    </tbody>
</table>
