@model IEnumerable<QLTV.AppMVC.Models.Entities.DauSach>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDauSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDauSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TacGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NXB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamXB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocPhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhoCo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinhHoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nguon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TungThu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DinhKem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgonNgu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDauSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDauSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSach.MaLoaiSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuDe.MaChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TacGia.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NXB.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamXB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khoa.MaKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocPhan.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeSach.TenKeSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhoCo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinhHoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nguon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TungThu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DinhKem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgonNgu.MaNN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            
        </tr>
}
    </tbody>
</table>
