@using QLTV.AppMVC.Models.Entities
@model List<ChiTietMuon>


@{
    ViewBag.title = "Danh sách chi tiết mượn";
}

<h2>@ViewBag.title</h2>
<hr />
<h5>Phiếu mượn: <span class="font-weight-bold">@ViewBag.Id</span></h5>
<h6>Sinh viên: <span class="font-weight-bold">@ViewBag.tensv</span></h6>
<h6>Mã Sinh viên: <span class="font-weight-bold">@ViewBag.masv</span></h6>
<table class="table table-hover table-sm mt-4">
    <thead>
        <tr>
            <th>
                Mã sách
            </th>
            <th>
                Ngày mượn
            </th>
            <th>
                Hạn trả
            </th>
            <th>
                Ngày trả
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ctm in Model)
        {
            string classes = "";

            if (ctm.NgayTra == null)
            {
                var chuaTra = DateTime.Compare(DateTime.Now.Date, ctm.HanTra.Date);

                switch (chuaTra)
                {
                    case -1:
                        classes = "";
                        break;
                    case 0:
                        classes = "table-warning";
                        break;
                    case 1:
                        classes = "table-danger";
                        break;
                }
            }

            <tr class="@classes">
                <td class="align-middle">
                    @ctm.MaSach
                </td>
                <td class="align-middle">
                    @ctm.NgayMuon.ToString("dd/MM/yyyy")
                </td>

                <td class="align-middle">@ctm.HanTra.ToString("dd/MM/yyyy")</td>

                @{
                    if (ctm.NgayTra != null)
                    {
                        <td class="align-middle">@ctm.NgayTra.Value.ToString("dd/MM/yyyy")</td>
                    }
                    else
                    {
                        <td class="align-middle"><strong>Chưa trả sách</strong></td>
                    }
                }
                <td class="align-middle">
                    @{
                        if (ctm.NgayTra == null)
                        {
                            <form method="post">
                                <button asp-action="TraSach" asp-route-id="@ctm.Id" class="btn btn-sm btn-primary">Trả sách</button>
                            </form>
                        }
                        else
                        {
                            <p><strong>Đã trả sách</strong></p>
                        }
                    }

                </td>
                <td class="align-middle">
                    @if (this.User.IsInRole("Admin"))
                    {
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-Id="@ctm.Id">Xóa</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" asp-controller="PhieuMuon">Về danh sách phiếu mượn</a>
