@using QLTV.AppMVC.Models.Entities
@model List<ChiTietMuon>


@{ 
    ViewBag.title = "Danh sách chi tiết mượn";
}

<h2>@ViewBag.title</h2>
<hr />

<h4>Phiếu mượn: @ViewBag.Id</h4>
<h6>- Sinh viên: @ViewBag.tensv</h6>
<h6>- Mã Sinh viên: @ViewBag.masv</h6>

<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Mã sách
            </th>
            <th>
                Ngày mượn
            </th>
            <th>
                Hạn trả
            </th>
            <th>
                Ngày trả
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ctm in Model)
        {
        <tr>
            <td>
                @ctm.MaSach
            </td>
            <td>
                @ctm.NgayMuon.ToString("dd/MM/yyyy")
            </td>

            <td>@ctm.HanTra.ToString("dd/MM/yyyy")</td>

            @{
                if (ctm.NgayTra != null)
                {
                    <td>@ctm.NgayTra.Value.ToShortDateString()</td>
                }
                else
                {
                    <td>Chưa trả sách</td>
                }
            }
            <td>
                @{
                    if (ctm.NgayTra == null)
                    {
                        <form method="post">
                            <button asp-action="TraSach" asp-route-id="@ctm.Id" class="btn btn-link">Trả sách</button>
                        </form>
                    }
                    else
                    {
                        <p>Đã trả sách</p>
                    }
                }

            </td>
            <td>
                <a class="btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-Id="@ctm.Id">Xóa</a>
            </td>
        </tr>
        }
        </tbody>
    </table>

<a asp-action="Index" asp-controller="PhieuMuon">Về danh sách phiếu mượn</a>
