
@model QLTV.AppMVC.Models.Entities.SinhVien

    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Mã sinh viên: @Model.MaSV</td>
            </tr>
            <tr>
                <td>Tên sinh viên: @Model.TenSV</td>
            </tr>
            <tr>
                <td>Email: @Model.Email</td>
            </tr>
            <tr>
                <td>Số điện thoại: @Model.Phone</td>
            </tr>
            <tr>
                <td>Giới tính: @Model.GioiTinh</td>
            </tr>
        </tbody>
    </table>
