@model IEnumerable<QLTV.AppMVC.Models.Entities.SinhVien>

@{
    ViewData["Title"] = "Danh sách sinh viên";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lop_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nganh_Id)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSV)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Lop.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nganh.TenNganh)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSV" class="btn btn-outline-secondary">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaSV" class="btn btn-outline-info">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSV" class="btn btn-outline-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
