@model IEnumerable<QLTV.AppMVC.Models.Entities.SinhVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lop_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nganh_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khoa_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lop.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nganh.TenNganh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Khoa.TenKhoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
