@model IEnumerable<QLTV.AppMVC.Models.Entities.Khoa>

@{
    ViewData["title"] = "Danh sách khoa";
    ViewData["page"] = "Khoa";
}

<h3>@ViewData["title"]</h3>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKhoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoa)
            </td>
            <td>
                <a asp-action="Tim" asp-controller="DauSach" asp-route-KhoaId="@item.Id" class="btn-link">
                    @Html.DisplayFor(modelItem => item.TenKhoa)
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
