@model IEnumerable<QLTV.AppMVC.Models.Entities.PhieuMuon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Tim" method="Get" class="form-group">
    <label for="maSV">Tìm sách</label>
    <input class="form-control" type="text" name="maSV" id="maSV" value="" />
    <input type="submit" value="Tìm" class="btn btn-info mt-2 px-4" />
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SinhVien.MaSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSV)
            </th>
            <th>
                Chi tiết mượn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SinhVien.MaSV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SinhVien.TenSV)
                </td>
                <td>
                    <a asp-action="Index" asp-controller="ChiTietMuon" asp-route-id="@item.Id">Chi tiết mượn</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
