@model IEnumerable<QLTV.AppMVC.Models.Entities.TacGia>

@{ 
    ViewBag.title = "Danh sách tác giả";
}

<h1>Danh sách tác giả</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Tim" asp-controller="DauSach" asp-route-tacGiaId="@item.Id">@Html.DisplayFor(modelItem => item.TenTG)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>

